[submodule "1-ecs-monolith-stack/spring-petclinic"]
	path = 1-ecs-monolith-stack/spring-petclinic
	url = https://github.com/spring-projects/spring-petclinic
[submodule "2-ecs-microservice-stack/spring-petclinic-microservices"]
	path = 2-ecs-microservice-stack/spring-petclinic-microservices
	url = https://github.com/spring-petclinic/spring-petclinic-microservices.git
[submodule "6-serverless-graphql-stack/spring-petclinic-graphql"]
	path = 6-serverless-graphql-stack/spring-petclinic-graphql
	url = https://github.com/spring-petclinic/spring-petclinic-graphql
