aws_cdk.core==1.191.0
aws_cdk.aws_apigateway==1.191.0
aws_cdk.aws_lambda==1.191.0
aws_cdk.aws_s3==1.191.0
aws_cdk.aws_s3_deployment==1.191.0
aws_cdk.aws_dynamodb==1.191.0
aws-cdk.aws_cloudformation==1.191.0
aws-cdk.aws_lambda_event_sources==1.191.0
aws-cdk.aws_codepipeline_actions==1.191.0
aws-cdk.aws_codebuild==1.191.0
aws-cdk.aws_codecommit==1.191.0
