aws_cdk.core==1.191.0
aws_cdk.aws_appsync==1.191.0
aws_cdk.aws_rds==1.191.0
aws_cdk.aws_iam==1.191.0
aws_cdk.aws_secretsmanager==1.191.0
aws_cdk.aws_lambda==1.191.0
aws_cdk.aws_s3==1.191.0
aws_cdk.aws_s3_deployment==1.191.0
aws-cdk.aws_cloudformation==1.191.0